<IfModule mod_rewrite.c>
 RewriteEngine On
# RewriteCond %{REQUEST_URI} !^(/[a-zA-Z0-9_-]+)?/content/.*$
 RewriteCond ! /css/.*$
 RewriteCond ! /favicon/.*$
 RewriteCond ! /fonts/.*$
 RewriteCond ! /images/.*$
 RewriteCond ! /js/.*$
 RewriteCond ! contact.php
 RewriteRule ^ index.html
</IfModule>
