body {
    background: url('http://getwallpapers.com/wallpaper/full/f/0/9/1116976-full-size-background-nature-1920x1080-for-4k-monitor.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}